<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>University Edit Detail</h2>

<form action="{% url 'university:updaterecord' uni_list.id %}" method="post">
      {% csrf_token %}{# protecting against Cross Site Request Forgeries In short, all POST forms that are targeted at internal URLs #}
    <table>
        <tr>
            <th>University Name</th>
            <td><input type="text" name="uname" required value="{{ uni_list.uniname }}"></td>
        </tr>
        <tr>
            <th>University Email ID</th>
            <td><input type="text" name="emailid" required value="{{ uni_list.emailid }}"> </td>
        </tr>
        <tr>
            <th>University Website</th>
            <td><input type="text" name="website" value="{{ uni_list.website }}"></td>
        </tr>
        <tr>
            <th>University Address</th>
            <td><textarea rows="5" cols="50" name="address" maxlength="199">{{ uni_list.address }}</textarea></td>
        </tr>
        <tr>
            <th>University Contact NO</th>
            <td><input type="number" name="contact" required value="{{ uni_list.contact }}"></td>
        </tr>
        <tr>

            <td colspan="2" align="center"><input type="submit" value="SAVE"></td>
        </tr>

    </table>
</form>

</body>
</html>