<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>University Information</h1><a href="{% url 'university:index' %}"><strong style="background-color: cornsilk">Add University</strong></a>
    <table border="1" width="100%" style="background-color: aliceblue">
        {% for u in uni_list %}
            <tr>
                <th width="250px"><a href="{% url 'university:showcourse' u.id %}"><strong style="background-color: cornsilk">{{ u.uniname }}</strong></a></th>
                <td align="Center" width="250px">{{ u.emailid }}</td>
                <td align="Center" width="200px">{{ u.website }}</td>
                <td align="Center" width="400px">{{ u.address }}</td>
                <td align="Center" width="150px">{{ u.contact }}</td>
                <td align="Center" width="300px"><a href="{% url 'university:editrecord' u.id %}">Edit</a>||<a href="{% url 'university:deleterecord' u.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>